*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#B09E99 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    height: 400px;
    width: 700px;
    background-color: #D8CFCC;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
/* .fa-quote-left{
    font-size: 2.2rem;
    color: gray;
    

} */
button{
    transform: translateY(60px);
    height: 60px;
    width: 200px;
    padding: 15px;
    border-color: #64b6ac ;
    background-color:#64b6ac;
    font-family: sans-serif;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color:#B09E99 ;
    color: black;
    border-color: #B09E99;
}
.quote{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(90px);
    width: 90%;
    font-family: sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 2.5rem;
    font-weight: 700;
    color: gray;
    letter-spacing: 0.1rem;
    position: relative;
}
.quote::before{
    content: open-quote;
    font-size: 4rem;
    color: gray;
    position: absolute;
    left: -20px;
    top: -20px;

}
.author{
    position: absolute;
    bottom: 25px;
    right: 60px;
    font-size: 1.2rem;
    color:#64b6ac;
    font-family: sans-serif;
    font-weight: 700;
    
}